.dg-picture-zoom{
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-plus.cur), pointer !important;
}
.dg-picture-zoom-large{
	cursor : url(http://www.dhtmlgoodies.com/scripts/picture-zoom/cursors/magnify-minus.cur), pointer !important;

}

.dg-picture-zoom-border-container{
    box-shadow:10px 10px 20px #000000;
    border-radius: 5px;


}

