~*
*~
*.aux
*.bcf
*.bin
*.blg
*.cache
*.dblite
*.exp
*.lib
*.log
*.mol2
*.o
*.obj
*.os
*.out
*.project
*.pyc
*.pyd
*.result
*.sav
*.sdf
*.sln
*.so
*.suo
*.vcxproj
**/.DS_Store
**/.ipynb_checkpoints
**/build
**/c_cpp_properties.json
include/maloc
io.mc
pdb2pqr/apbs_cgi.cgi
pdb2pqr/changes.tgz
pdb2pqr/dist/**
pdb2pqr/html/server.html
pdb2pqr/msvs
pdb2pqr/pdb2pqr.py
pdb2pqr/pdb2pqr.cgi
pdb2pqr/querystatus.cgi
pdb2pqr/site_scons/defaults.py
pdb2pqr/src/aconf.py
pdb2pqr/visualize.cgi
test-output*
settings.json