.DS_Store
io.mc
*~
*.pyc
*.pyd
*.komodoproject
bin/
**/build/CMakeFiles/
**/build/Win32/
**/build/*.cmake
**/build/maloc-prefix/
**/build/src/
**/build/tools/
*.vcxproj
CMakeCache.txt
*.filters
*.opensdf
*.sdf
*.sln
*.suo
pdb2pqr/build/**
apbs/build/**
apbs/externals/**
pdb2pqr/dist/**
include/maloc
lib/
**.out
*.o
*.dblite
test-output*
*.project
*.result
*.pydevproject
*.cache
~*
*.lib
*.obj
*.exp
*.log
*.mol2
pdb2pqr/visualize.cgi
pdb2pqr/src/aconf.py
pdb2pqr/querystatus.cgi
pdb2pqr/pdb2pqr.py
pdb2pqr/pdb2pqr.cgi
pdb2pqr/html/server.html
pdb2pqr/changes.tgz
pdb2pqr/apbs_cgi.cgi
pdb2pqr/site_scons/defaults.py
pdb2pqr/msvs
.ipynb_checkpoints

*.bin
2017 APBS update paper/acs-apbs-update.bib
*.aux
2017 APBS update paper/apbs-update.synctex.gz
*.blg
2017 APBS update paper/apbs.bib.bak
*.sav
*.bcf
2017 APBS update paper/apbs-update.run.xml
