[submodule "apbs/externals/geoflow_c"]
	path = apbs/externals/geoflow_c
	url = https://github.com/Electrostatics/geoflow_c
[submodule "apbs/externals/fetk"]
	path = apbs/externals/fetk
	url = https://github.com/Electrostatics/FETK.git
[submodule "apbs/externals/mesh_routines"]
	path = apbs/externals/mesh_routines
	url = https://github.com/lwwilson1/mesh_routines.git
[submodule "apbs/externals/pb_s_am"]
	path = apbs/externals/pb_s_am
	url = https://github.com/Electrostatics/pb_solvers
[submodule "apbs/externals/bem"]
	path = apbs/externals/bem
	url = https://github.com/lwwilson1/TABIPB.git
